<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListItinerarioServlet</display-name>
    <servlet-name>ListItinerarioServlet</servlet-name>
    <servlet-class>controller.itinerario.ListItinerarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListItinerarioServlet</servlet-name>
    <url-pattern>/ListItinerarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPromocionesServlet</display-name>
    <servlet-name>ListPromocionesServlet</servlet-name>
    <servlet-class>controller.promociones.ListPromocionesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPromocionesServlet</servlet-name>
    <url-pattern>/ListPromocionesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComprarPromocionServlet</display-name>
    <servlet-name>ComprarPromocionServlet</servlet-name>
    <servlet-class>controller.promociones.ComprarPromocionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComprarPromocionServlet</servlet-name>
    <url-pattern>/ComprarPromocionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePromotionServlet</display-name>
    <servlet-name>DeletePromotionServlet</servlet-name>
    <servlet-class>controller.promociones.DeletePromotionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePromotionServlet</servlet-name>
    <url-pattern>/DeletePromotionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerItinerario</display-name>
    <servlet-name>VerItinerario</servlet-name>
    <servlet-class>controller.users.VerItinerario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerItinerario</servlet-name>
    <url-pattern>/VerItinerario</url-pattern>
  </servlet-mapping>
</web-app>